.search, .tags
  background: url(../img/pattern00.png) center, linear-gradient(to bottom, #fff 0%, #eee 100%) no-repeat
  #search
    margin-top: 15px
    background: #fff none repeat scroll 0% 0%
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
    border-radius: 0.25em
    padding: 0.4em 0.8em
    font-size: 16px
    height: 45px
    border: 0
    width: 100%
