| ---
| layout: compress
| ---
| 
doctype html
html {% include default-head.html %}
  body.posts  
    input(type="checkbox" id="trigger")
    .wrap
      | {% include posts-nav.html %}
      | {% include sidebar.html %}
      main
        .container
          .row
            .col-md-offset-3.col-md-6
              | {% assign post-id = site.data.posts[page.post-id] %}
              | {% if post-id.share-section %}
              | {% include posts-share-section.html %}
              | {% endif %}
              | {% if post-id.video-section %}
              | {% include posts-video-section.html %}
              | {% endif %}
              | {% if post-id.link-section %}
              | {% include posts-link-section.html %}
              | {% endif %}
              | {% if post-id.article-section %}
              section.article-section
                article
                  | {{content}}
              | {% endif %}
              | {% if post-id.tag-section %}
              | {% include posts-tag-section.html %} 
              | {% endif %}
              | {% if post-id.comment-section %}
              | {% include posts-comment-section.html %} 
              | {% endif %}
      | {% include posts-footer.html %}
    | {% include posts-scripts.html %}
