| ---
| layout: compress
| ---
| 
doctype html
html(lang="en") {% include default-head.html %}
	body(unresolved="", class="post")
		input(type="checkbox" id="trigger")
		paper-header-panel(mode="waterfall")
			paper-toolbar
				| {% include posts-nav.html %}
			| {% include sidebar.html %}
			main
				.row
					.small-10.small-centered
						| {% assign post-id = site.data.posts[page.post-id] %}
						//- | {% if post-id.share-section %}
						//- | {% include posts-share-section.html %}
						//- | {% endif %}
						| {% include search-result.html %}
						| {% if post-id.video-section %}
						| {% include posts-video-section.html %}
						| {% endif %}
						| {% if post-id.link-section %}
						| {% include posts-link-section.html %}
						| {% endif %}
						| {% if post-id.article-section %}
						section.article-section
						article
							| {{content}}
						| {% endif %}
						| {% if post-id.tag-section %}
						| {% include posts-tag-section.html %} 
						| {% endif %}
						| {% if post-id.comment-section %}
						| {% include posts-comment-section.html %} 
						| {% endif %}
		| {% include posts-scripts.html %}
