| ---
| layout: compress
| ---
| 
doctype html
html(lang="en") {% include default-head.html %}
	body(unresolved="", class="search")
		input(type="checkbox", id="trigger")
		paper-header-panel(mode="waterfall-tall")
			paper-toolbar(class="tall")
				| {% include default-nav.html %}
			| {% include sidebar.html %}
			main
				.row
					.small-10.small-centered
						| {{content}}
		| {% include search-scripts.html %}
