footer
  .container
    | &copy; {{ site.time | date: '%Y' }} wikiReview &nbsp;
    a(href"{{site.url}}{{site.baseurl}}soon") &vert; About Us  
    a(href"{{site.url}}{{site.baseurl}}soon") &vert; Contact 
