nav
  .container
    .row
      .col-md-3.visible-md-block.visible-lg-block
        .arrow-flex
            label.left-burger(for="trigger")
              .burger
                span.slice
                span.slice
                span.slice
            a.inner(href="{{site.url}}{{site.baseurl}}")
              h1 wikiReview
      .col-sm-1.col-sm-offset-11.col-xs-2.col-xs-offset-10.visible-sm-block.visible-xs-block.burger-flex
        label.right-burger(for="trigger")
          .burger
            span.slice
            span.slice
            span.slice
