head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title {{page.title}}
  meta(name="generator", content="Jekyll v3.1.0")
  meta(name="google-site-verification", content="ra_xxx")
  meta(name="HandheldFriendly", content="True")
  meta(name="MobileOptimized", content="320")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description", content="{{page.description}}")
  link(rel="canonical", href="{{site.url}}{{ post.url}}")
  meta(property="og:locale", content="en_US")
  meta(property="og:type", content="website")
  meta(property="og:title", content="{{page.title}}")
  meta(property="og:description", content="{{page.description}}")
  meta(property="og:url", content="{{site.url}}{{ post.url}}")
  meta(property="og:site_name", content="{{site.title}}")
  meta(property="og:image", content="{{site.url}}{{ post.url | remove:'/' }}.jpg")
  meta(property="article:publisher", content="{{site.facebook}}")
  meta(name="twitter:card", content="summary")
  meta(name="twitter:url", content="{{site.url}}{{ post.url}}")
  meta(name="twitter:domain", content="")
  meta(name="twitter:site", content="@{{site.title}}")
  meta(name="twitter:creator", content="@{{site.title}}")
  meta(name="og:title", content="{{page.title}}")
  meta(name="twitter:description", content="{{page.discription}}")
  meta(name="twitter:image", content="{{site.url}}{{ post.url | remove:'/' }}.jpg")
  meta(name="twitter:app:id:iphone", content="")
  meta(name="twitter:app:id:ipad", content="")
  meta(name="twitter:app:id:googleplay", content="")
  meta(name="twitter:app:name:iphone", content="{{site.title}}")
  meta(name="twitter:app:name:ipad", content="{{site.title}}")
  meta(name="twitter:app:name:googleplay", content="{{site.title}}")
  meta(name="twitter:app:url:iphone", content="")
  meta(name="twitter:app:url:ipad", content="")
  meta(name="twitter:app:url:googleplay", content="")
  link(rel="apple-touch-icon", sizes="57x57", href="{{site.url}}/assets/img/favicon/apple-touch-icon-57x57.png?v=3ee4MO8Jvq")
  link(rel="apple-touch-icon", sizes="60x60", href="{{site.url}}/assets/img/favicon/apple-touch-icon-60x60.png?v=3ee4MO8Jvq")
  link(rel="apple-touch-icon", sizes="72x72", href="{{site.url}}/assets/img/favicon/apple-touch-icon-72x72.png?v=3ee4MO8Jvq")
  link(rel="apple-touch-icon", sizes="76x76", href="{{site.url}}/assets/img/favicon/apple-touch-icon-76x76.png?v=3ee4MO8Jvq")
  link(rel="apple-touch-icon", sizes="114x114", href="{{site.url}}/assets/img/favicon/apple-touch-icon-114x114.png?v=3ee4MO8Jvq")
  link(rel="apple-touch-icon", sizes="120x120", href="{{site.url}}/assets/img/favicon/apple-touch-icon-120x120.png?v=3ee4MO8Jvq")
  link(rel="apple-touch-icon", sizes="144x144", href="{{site.url}}/assets/img/favicon/apple-touch-icon-144x144.png?v=3ee4MO8Jvq")
  link(rel="apple-touch-icon", sizes="152x152", href="{{site.url}}/assets/img/favicon/apple-touch-icon-152x152.png?v=3ee4MO8Jvq")
  link(rel="apple-touch-icon", sizes="180x180", href="{{site.url}}/assets/img/favicon/apple-touch-icon-180x180.png?v=3ee4MO8Jvq")
  link(rel="icon", type="image/png", href="{{site.url}}/assets/img/favicon/favicon-32x32.png?v=3ee4MO8Jvq", sizes="32x32")
  link(rel="icon", type="image/png", href="{{site.url}}/assets/img/favicon/android-chrome-192x192.png?v=3ee4MO8Jvq", sizes="192x192")
  link(rel="icon", type="image/png", href="{{site.url}}/assets/img/favicon/favicon-96x96.png?v=3ee4MO8Jvq", sizes="96x96")
  link(rel="icon", type="image/png", href="{{site.url}}/assets/img/favicon/favicon-16x16.png?v=3ee4MO8Jvq", sizes="16x16")
  link(rel="manifest", href="{{site.url}}/assets/img/favicon/manifest.json?v=3ee4MO8Jvq")
  link(rel="mask-icon", href="{{site.url}}/assets/img/favicon/safari-pinned-tab.svg?v=3ee4MO8Jvq", color="#c266e6")
  link(rel="shortcut icon", href="{{site.url}}/assets/img/favicon/favicon.ico?v=3ee4MO8Jvq")
  meta(name="apple-mobile-web-app-title", content="{{site.title}}")
  meta(name="application-name", content="{{site.title}}")
  meta(name="msapplication-TileColor", content="#c266e6")
  meta(name="msapplication-TileImage", content="{{site.url}}/assets/img/favicon/mstile-144x144.png?v=3ee4MO8Jvq")
  meta(name="msapplication-config", content="{{site.url}}/assets/img/favicon/browserconfig.xml?v=3ee4MO8Jvq")
  meta(name="theme-color", content="#ffffff")
  link(href="{{site.url}}/assets/css/main.css", rel="stylesheet")
