section
  .content
    | {% for post in paginator.posts %}
    a(href="{{site.url}}{{site.baseurl}}{{ post.url }}")
      div
        div
          img(src="/assets/img/{{ post.url | remove:'/' }}.jpg", alt="{{ post.url | remove_first:'/' }}")
          h4 {{ post.title }}
          h5 {{ post.date | date: "%d %b %Y" }}
          | {% if page.article-section %}
          p {{ post.content | truncatewords:25 | strip_html }}
          | {% endif %}
      | {% endfor %}
      | {% if paginator.total_pages &#62; 1 %}
      .pagination
        | {% if paginator.previous_page %}
        | {% if paginator.page == 2 %}
        a(href="{{ site.siteurl }}/") &#171; Prev
        | {% else %}
        a(href="{{ site.siteurl }}/page{{ paginator.previous_page }}/") &#171; Prev
        | {% endif %}
        | {% else %}
        span &#171; Prev
        | {% endif %}
        | {% if paginator.next_page %}
        a.next(href="{{ site.siteurl }}/page{{ paginator.next_page }}/") Next &#187;
        | {% else %}
        span.next Next &#187;
        | {% endif %}
      | {% endif %}
