<section class="share-section">
    <div class="facebook us_button">
        <a class="us_box" href="http://www.facebook.com/share.php?u={{site.url}}{{page.url}}&title={{page.title}}">
            <div class="us_share"><i class="fa fa-facebook"></i></div>
            <div class="us_count"></div>
        </a>
    </div>
    <div class="twitter us_button">
        <a class="us_box" href="http://twitter.com/home?status={{site.url}}+{{page.url}}">
            <div class="us_share"><i class="fa fa-twitter"></i></div>
            <div class="us_count"></div>
        </a>
    </div>
    <div class="google us_button">
        <a class="us_box" href="https://plus.google.com/share?url={{site.url}}{{page.url}}">
            <div class="us_share"><i class="fa fa-google-plus"></i></div>
            <div class="us_count"></div>
        </a>
    </div>
    <div class="linkedin us_button">
        <a class="us_box" href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{page.title}}&source=[SOURCE/DOMAIN]">
            <div class="us_share"><i class="fa fa-linkedin"></i></div>
            <div class="us_count"></div>
        </a>
    </div>
    <div class="mail us_button us_no_count">
        <a class="us_box" href="#us-modal-fGdX1">
            <div class="us_share"><i class="fa fa-envelope"></i></div>
        </a>
    </div>
</section>
