//- script(src="//cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.1.0/readmore.min.js")
//- script $("article").readmore({collapsedHeight:216,speed:200});
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/0.6.0/lunr.min.js")
script(src="{{site.url}}{{site.baseurl}}/assets/js/lunr.js")
