.row.collapse.nav.fullWidth
	.small-2.columns
		label(for="trigger")
			paper-icon-button(icon="menu")
		a(href="{{site.url}}{{site.baseurl}}/")
			h1 wikiReview
	.small-2.medium-3.columns
		| {% if page.previous.url %}
		a.left(href="{{ page.previous.url }}")
			iron-icon(icon="icons:chevron-left")
			img(src="/assets/img/{{ page.previous.url | remove:'.html' }}.jpg")
			span {{page.previous.title}}
		| {%endif%}
	.small-4.medium-2.columns
		section
			| {% include search-input.html %}
	.small-2.medium-3.columns
		| {% if page.next.url %}
		a.right(href="{{ page.next.url }} ")
			img(src="/assets/img/{{ page.next.url | remove:'.html' }}.jpg")
			span {{page.next.title}}
			iron-icon(icon="icons:chevron-right")
		| {%endif%}
	.smal-2.columns
