section.link-section
	| {% if post-id.link-1 %}
	paper-button(raised)
		a(rel="nofollow", href="{{ post-id.link-1 }}", target="_blank") {{ post-id.link-title-1 }}
	| {% endif %}
	| {% if post-id.link-2 %}
	paper-button(raised)
		a(rel="nofollow", href="{{ post-id.link-2 }}", target="_blank") {{ post-id.link-title-2 }}
	| {% endif %}
	| {% if post-id.link-3 %}
	paper-button(raised)
		a(rel="nofollow", href="{{ post-id.link-3 }}", target="_blank") {{ post-id.link-title-3 }}
	| {% endif %}
	| {% if post-id.link-4 %}
	paper-button(raised)
		a(rel="nofollow", href="{{ post-id.link-4 }}", target="_blank") {{ post-id.link-title-4 }}
	| {% endif %}
	| {% if post-id.link-5 %}
	paper-button(raised)
		a(rel="nofollow", href="{{ post-id.link-5 }}", target="_blank") {{ post-id.link-title-5 }}
	| {% endif %}
