| {% for post in paginator.posts offset: 6 %}
a(href="{{site.url}}{{site.baseurl}}{{ post.url }}")
	paper-card(image="/assets/img/{{ post.url | remove:'.html' }}.jpg")
		h4 {{ post.title }}
		h5 {{ post.date | date: "%d %b %Y" }}
		| {% if page.article-section %}
		p {{ post.content | truncatewords:25 | strip_html }}
	| {% endif %}
| {% endfor %}
