---
layout: compress
---
 <!DOCTYPE html><html lang="en">{% include default-head.html %}<body unresolved="" class="post"><input type="checkbox" id="trigger"><paper-header-panel mode="waterfall"><paper-toolbar>{% include posts-nav.html %}</paper-toolbar>{% include sidebar.html %}<main><div class="row"><div class="small-10 small-centered">{% assign post-id = site.data.posts[page.post-id] %}{% include search-result.html %}
{% if post-id.video-section %}
{% include posts-video-section.html %}
{% endif %}
{% if post-id.link-section %}
{% include posts-link-section.html %}
{% endif %}
{% if post-id.article-section %}<section class="article-section"></section><article>{{content}}</article>{% endif %}
{% if post-id.tag-section %}
{% include posts-tag-section.html %} 
{% endif %}
{% if post-id.comment-section %}
{% include posts-comment-section.html %} 
{% endif %}</div></div></main></paper-header-panel>{% include posts-scripts.html %}</body></html>