---
layout: compress
---
 <!DOCTYPE html><html lang="en">{% include default-head.html %}<body unresolved="" class="tags"><input type="checkbox" id="trigger"><paper-header-panel mode="waterfall-tall"><paper-toolbar class="tall">{% include default-nav.html %}</paper-toolbar>{% include sidebar.html %}<main><div class="row"><div class="small-10 small-centered">{% assign post-id = site.data.posts[page.post-id] %}
{{content}}</div></div></main></paper-header-panel>{% include tags-scripts.html %}</body></html>