#trigger
	display: none
	&:checked + paper-header-panel
		overflow-x: hidden
		paper-toolbar, main, header, aside, footer, #dropShadow
			transform: translateX(150px)
paper-toolbar, main, header, aside, footer, #dropShadow
	transition-duration: 0.5s
	transition-timing-function: ease-in-out
	transition-property: transform
paper-toolbar
	background:url(../img/pattern00.png), linear-gradient(to bottom, rgb(82,184,234) 0%, rgb(69,151,225) 100%) no-repeat
	overflow: hidden
	.small-2:first-child
		display: flex
	h1
		color: $primary-color
		font-weight: 400
		font-size: 20px
		display: inline-block
		transform: translateY(-2px)
	label,  a h1, a
		align-self: center
.post
	paper-toolbar
		background: url(../img/pattern00.png), rgb(69,151,225)
		height: calc(64px*2)
		#topBar
			height: calc(64px*2)
		#bottomBar, #middleBar
			display: none
		div
			height: calc(64px*2)
		.small-4
			section
				display: flex
				width: 100%
				height: calc(64px*2)
				.search-input
					background-color: rgba(49, 116, 176, 1)
					align-self: center
					width: 80%
					border-radius: 0.25em
					padding: 0.4em 0.8em
					font-size: 16px
					height: 45px
					border: 0
					color: $primary-color
					justify-content: center
					-webkit-user-select: none
					-moz-user-select: none
					-ms-user-select: none
					user-select: none
					&:hover
						outline:none
					&:focus
						outline:none
					&:active
						outline:none
				.search-input::-webkit-input-placeholder
					color: $primary-color
					opacity: .5
		.small-2
			a, a span, iron-icon
				position: relative
				z-index: 1
			a
				display: flex
				flex: 1
				color: $primary-color
				height: calc(64px*2)
				overflow: hidden
				align-items: center
				img
					opacity: 0.5
					-webkit-filter: rgb(128,128,128)scale(1) brightness(0.45) contrast(1.05)
					filter: rgb(128,128,128)scale(1) brightness(0.45) contrast(1.05)
					position: absolute
					height: 128px
					top: 0
			.left::after
				content: " "
				position: absolute
				top: 0
				left: 0
				height: 128px
				width: 100%
				background: url(../img/pattern00.png), -webkit-linear-gradient(right, rgba(69,151,225,1) 0%, rgba(69,151,225,1) 50%, rgba(255,255,255,0) 100%)
				background: url(../img/pattern00.png), -o-linear-gradient(right, rgba(69,151,225,1) 0%, rgba(69,151,225,1) 50%, rgba(255,255,255,0) 100%)
				background: url(../img/pattern00.png), linear-gradient(to left, rgba(69,151,225,1) 0%, rgba(69,151,225,1) 50%, rgba(255,255,255,0) 100%)
			.left
				justify-content: flex-start
				img
					left: 0
			.right::after
				content: " "
				position: absolute
				top: 0
				left: 0
				height: 128px
				width: 100%
				background: url(../img/pattern00.png), -webkit-linear-gradient(left, rgba(69,151,225,1) 0%, rgba(69,151,225,1) 50%, rgba(255,255,255,0) 100%)
				background: url(../img/pattern00.png), -o-linear-gradient(left, rgba(69,151,225,1) 0%, rgba(69,151,225,1) 50%, rgba(255,255,255,0) 100%)
				background: url(../img/pattern00.png), linear-gradient(to right, rgba(69,151,225,1) 0%, rgba(69,151,225,1) 50%, rgba(255,255,255,0) 100%)
			.right
				justify-content: flex-end
				order: 2
				img
					right: 0
			.left, .right
				+transition()
				&:hover
					background: rgba(0,0,0,0.5)
					+transition()
.small-10
	.results
		.result-body
			margin-bottom: 7px
			a
				color: $primary-color
@media (max-width: 880px)
	.small-2
		a
			h1
				display: none
	.small-2
		.left, .right
			&:hover
				background: rgba(0,0,0,0.1)
		a
			img, span
				display: none
		a::after
			display: none
	.small-4
		.search-input
			display: none
